body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(60, 56%, 80%);
}

.calculator{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 30px;
    max-width: 500px;
    overflow: hidden;
    box-shadow: 0px 0px 15px;
}

.output-display{
    width: 100%;
    padding: 10px;
    height: 100px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 40%);
}

.current-operand {
    color: white;
    font-size: 3rem;
}

.previous-operand {
    color: white;
    font-size: 1.5rem;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
    justify-items: center;
}

button {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.operator-btn {
    background-color: hsl(16, 100%, 60%);
}

button:hover{
    background-color: hsl(0, 0%, 35%);
}

button:active{
    background-color: hsl(0, 0%, 40%);
}

.operator-btn:hover {
    background-color: hsl(16, 100%, 70%);
}

.operator-btn:active {
    background-color: hsl(16, 100%, 80%);
}

#two-column{
    grid-column: span 2;
    height: 80px;
    width: 160px;
    border-radius: 30px;
}